{#{% do view.registerAssetBundle("pleodigital\\pmmpayments\\assetbundles\\paymentschart\\PaymentsChartAsset") %}#}
{% set pluginName = 'pmm-payments' %}
{% set providerName = 'chart' %}

{% set baseUrl = pluginName ~ '/list/' %}
{% set baseEntriesUrl = cpUrl(baseUrl ~ providerName) %}

{% set projectFilter = craft.app.request.getQueryParam('projectFilter') ? craft.app.request.getQueryParam('projectFilter') : null %}
{% set startRangeFilter = craft.app.request.getQueryParam('startRangeFilter') ? craft.app.request.getQueryParam('startRangeFilter') : null %}
{% set endRangeFilter = craft.app.request.getQueryParam('endRangeFilter') ? craft.app.request.getQueryParam('endRangeFilter') : null %}

{% set totals = craft.payments.getAllMonthsTotal(projectFilter, startRangeFilter, endRangeFilter) %}

{% macro jsVar(variable, jsVariableName) %}
    var {{jsVariableName}} = {{variable|json_encode|raw}};
{% endmacro %}

<div id="canvas-parent" style="position: relative; width: 100%;"><canvas id="canvas-stats"></canvas></div>
{#{{ totals }}#}
<script>
    {{_self.jsVar(totals, 'totals')}}
    pmmChart.buildChart();
</script>